  <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
    <div class="cbp-hsinner">
      <ul class="cbp-hsmenu">
        <li> <a href="#"><span class="icon-bar"></span></a>
          <ul class="cbp-hssubmenu">
            <li><a href="#">
              <div class="sparkle-dropdown"><span class="inlinebar">10,8,8,7,8,9,7,8,10,9,7,5</span>
                <p class="sparkle-name">project income</p>
                <p class="sparkle-amount">$23989 <i class="fa fa-chevron-circle-up"></i></p>
              </div>
              </a></li>
            <li><a href="#">
              <div class="sparkle-dropdown"><span class="linechart">5,6,7,9,9,5,3,2,9,4,6,7</span>
                <p class="sparkle-name">site traffic</p>
                <p class="sparkle-amount">122541 <i class="fa fa-chevron-circle-down"></i></p>
              </div>
              </a></li>
            <li><a href="#">
              <div class="sparkle-dropdown"><span class="simpleline">9,6,7,9,3,5,7,2,1,8,6,7</span>
                <p class="sparkle-name">Processes</p>
                <p class="sparkle-amount">890 <i class="fa fa-plus-circle"></i></p>
              </div>
              </a></li>
            <li><a href="#">
              <div class="sparkle-dropdown"><span class="inlinebar">10,8,8,7,8,9,7,8,10,9,7,5</span>
                <p class="sparkle-name">orders</p>
                <p class="sparkle-amount">$23989 <i class="fa fa-chevron-circle-up"></i></p>
              </div>
              </a></li>
            <li><a href="#">
              <div class="sparkle-dropdown"><span class="piechart">1,2,3</span>
                <p class="sparkle-name">active/new</p>
                <p class="sparkle-amount">500/200 <i class="fa fa-chevron-circle-up"></i></p>
              </div>
              </a></li>
            <li><a href="#">
              <div class="sparkle-dropdown"><span class="stackedbar">3:6,2:8,8:4,5:8,3:6,9:4,8:1,5:7,4:8,9:5,3:5</span>
                <p class="sparkle-name">fault/success</p>
                <p class="sparkle-amount">$23989 <i class="fa fa-chevron-circle-up"></i></p>
              </div>
              </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  
  <!--Breadcrumb-->
  <div class="breadcrumb clearfix">
    <ul>
      <li><a href="index.html"><i class="fa fa-home"></i></a></li>
      <li><a href="index.html">Dashboard</a></li>
      <li class="active">Data</li>
    </ul>
  </div>
  <!--/Breadcrumb-->
  
  <div class="page-header">
    <h1>Portlets<small>Gallery</small></h1>
  </div>
  
  <!-- Widget Row Start grid -->
  <div class="row" id="powerwidgets">
    <div class="col-md-3 col-sm-6 bootstrap-grid"> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet powerwidget-as-portlet-cold-grey" id="widget1" data-widget-editbutton="false">
        <header> </header>
        <div class="inner-spacer nopadding">
          <div class="portlet-big-icon animated bounceIn text-pink"><i class="fa fa-heart"></i></div>
          <ul class="portlet-bottom-block">
            <li class="col-md-4 col-sm-4 col-xs-4"><strong>5</strong><small>Friends</small></li>
            <li class="col-md-4 col-sm-4 col-xs-4"><strong>232</strong><small>Posts</small></li>
            <li class="col-md-4 col-sm-4 col-xs-4"><strong>2</strong><small>Requests</small></li>
          </ul>
        </div>
      </div>
      <!-- /New widget --> 
      
    </div>
    <!-- /Inner Row Col-md-3 -->
    
    <div class="col-md-3 col-sm-6 bootstrap-grid"> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet powerwidget-as-portlet-blue" id="widget2" data-widget-editbutton="false">
        <header> </header>
        <div class="inner-spacer nopadding">
          <div class="portlet-big-icon"><i class="fa entypo-facebook-circled"></i></div>
          <ul class="portlet-bottom-block">
            <li class="col-md-4 col-sm-4 col-xs-4"><strong>19</strong><small>Friends</small></li>
            <li class="col-md-4 col-sm-4 col-xs-4"><strong>232</strong><small>Posts</small></li>
            <li class="col-md-4 col-sm-4 col-xs-4"><strong>507</strong><small>Requests</small></li>
          </ul>
        </div>
      </div>
      <!-- /New widget --> 
      
    </div>
    <!-- /Inner Row Col-md-3 -->
    
    <div class="col-md-3 col-sm-6 bootstrap-grid"> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet powerwidget-as-portlet-green-alt" id="widget3" data-widget-editbutton="false">
        <header> </header>
        <div class="inner-spacer nopadding">
          <div class="portlet-big-icon"><i class="fa fa-money"></i></div>
          <ul class="portlet-bottom-block">
            <li class="col-md-6 col-sm-6 col-xs-6"><strong>$2791</strong><small>Income</small></li>
            <li class="col-md-6 col-sm-6 col-xs-6"><strong>$2322</strong><small>Outcome</small></li>
          </ul>
        </div>
      </div>
      <!-- /New widget --> 
      
    </div>
    <!-- /Inner Row Col-md-3 -->
    
    <div class="col-md-3 col-sm-6 bootstrap-grid"> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet powerwidget-as-portlet-purple" id="widget4" data-widget-editbutton="false">
        <header> </header>
        <div class="inner-spacer nopadding">
          <div class="portlet-big-icon"><i class="fa fa-google-plus"></i></div>
          <ul class="portlet-bottom-block">
            <li class="col-md-4 col-sm-4 col-xs-4"><strong>199</strong><small>Friends</small></li>
            <li class="col-md-4 col-sm-4 col-xs-4"><strong>211</strong><small>Posts</small></li>
            <li class="col-md-4 col-sm-4 col-xs-4"><strong>588</strong><small>Requests</small></li>
          </ul>
        </div>
      </div>
      <!-- /New widget --> 
      
    </div>
    <!-- /Inner Row Col-md-3 -->
    <div class="clearfix"></div>
    <div class="col-md-6 bootstrap-grid"> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet powerwidget-as-portlet-white" id="widget5" data-widget-editbutton="false">
        <header>
          <h2>Portlet<small>With Carousel</small></h2>
        </header>
        <div class="inner-spacer nopadding">
          <div class="portlet-profile">
            <div class="user-img"><img src="http://placehold.it/150x150" alt="User Picture" /></div>
            <h1>Anton Durant</h1>
            Followers: 451 | Friends: 45 | Items: 22 </div>
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item item4 active"> </div>
              <div class="item item5"></div>
              <div class="item item6"></div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> </div>
        </div>
      </div>
      <!-- /New widget --> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet-white" id="chart-portlet-1" data-widget-editbutton="false">
        <header>
          <h2>SalesChart<small>With Sparklines</small></h2>
        </header>
        <div class="inner-spacer">
          <div class="row">
            <div class="col-md-12 text-center"> <span id="portlet-compositeline">8,4,3,6,7,0,1,4,4,10,5,10,4,7,2,1,4,6,5,9,10</span> </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-center">
              <h1 class="text-purple margin-0px margin-top">25551</h1>
              <small class="text-purple">Gadget Sales <i class="fa fa-chevron-circle-up"></i></small> </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-center">
              <h1 class="text-blue margin-0px margin-top">6891</h1>
              <small class="text-blue">Toys Sales <i class="fa fa-chevron-circle-up"></i></small> </div>
          </div>
        </div>
      </div>
      <!-- /New widget --> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet powerwidget-as-portlet-blue" id="widget7" data-widget-editbutton="false">
        <header>
          <h2>Portlet<small>With Vector Map</small></h2>
        </header>
        <div class="inner-spacer">
          <div id="vmap-usa" class="jqvmap"></div>
        </div>
      </div>
      <!-- /New widget --> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet powerwidget-as-portlet-blue" id="widget10" data-widget-editbutton="false">
        <header>
          <h2>Portlet<small>Weather</small></h2>
        </header>
        <div class="inner-spacer nopadding">
          <div class="weather-current-city">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6"><span class="current-city">London, GB</span><span class="current-temp">19&deg;C</span><span class="current-day">Wednesday, 14 April</span></div>
              <div class="col-md-6 col-sm-6 col-xs-6"><span class="current-day-icon">
                <canvas id="clear-day" width="120" height="120"></canvas>
                </span></div>
            </div>
          </div>
          <div class="row">
            <ul class="days">
              <li class="col-md-3 col-sm-3 col-xs-3"><strong>Tue</strong>
                <canvas id="snow" width="50" height="50"></canvas>
                <span>19&deg;</span></li>
              <li class="col-md-3 col-sm-3 col-xs-3"><strong>Fri</strong>
                <canvas id="rain" width="50" height="50"></canvas>
                <span>17&deg;</span></li>
              <li class="col-md-3 col-sm-3 col-xs-3"><strong>Sat</strong>
                <canvas id="sleet" width="50" height="50"></canvas>
                <span>23&deg;</span></li>
              <li class="col-md-3 col-sm-3 col-xs-3"><strong>Sun</strong>
                <canvas id="fog" width="50" height="50"></canvas>
                <span>21&deg;</span></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /New widget --> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet powerwidget-as-portlet-white" id="widget9" data-widget-editbutton="false">
        <header>
          <h2>Portlet<small>With Tabs</small></h2>
        </header>
        <div class="inner-spacer"> 
          
          <!-- tabs green-->
          <div class="tabs-grey">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#one-normal" data-toggle="tab"><i class="fa fa-camera"></i> One</a></li>
              <li><a href="#two-normal" data-toggle="tab"><i class="fa fa-music"></i> Two</a></li>
              <li><a href="#three-normal" data-toggle="tab"><i class="fa fa-film"></i> Three</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="one-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed elit non arcu gravida cursus. Ut non porttitor augue. Sed ornare diam ac tortor molestie, ut vestibulum nibh placerat. In hac habitasse platea dictumst. Vivamus pharetra pretium purus, ut suscipit magna malesuada at. </div>
              <div class="tab-pane" id="two-normal">Praesent porta, urna et gravida facilisis, dolor ante cursus ante, lobortis feugiat orci odio sit amet erat. Ut elit neque, placerat at mi at, accumsan ullamcorper nibh. Donec dignissim, eros a rhoncus porttitor, erat est facilisis metus, suscipit consectetur tellus lacus at quam. Aenean nec nibh justo. </div>
              <div class="tab-pane" id="three-normal">Nulla posuere mauris sem, vel hendrerit arcu fringilla ut. Quisque lacinia placerat dolor. Etiam semper convallis pulvinar. Suspendisse sollicitudin erat ac faucibus adipiscing. Pellentesque sagittis mollis tincidunt. Duis blandit leo ligula, vitae commodo diam posuere eget. Donec tempor euismod elementum. Nunc interdum bibendum lobortis. </div>
            </div>
          </div>
          <!-- /tabs --> 
          
        </div>
      </div>
      <!-- /New widget --> 
      
    </div>
    <!-- /Inner Row Col-md-6 -->
    
    <div class="col-md-6 bootstrap-grid"> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet powerwidget-as-portlet-green" id="widdget6" data-widget-editbutton="false">
        <header>
          <h2>Google Map<small>Styled!</small></h2>
        </header>
        <div class="inner-spacer nopadding">
          <div class="map-container" id="map_canvas"></div>
        </div>
      </div>
      <!-- /New widget --> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet-cold-grey" id="chartjs-portlet-2" data-widget-editbutton="false">
        <header>
          <h2>SalesChart<small>with ChartJS</small></h2>
        </header>
        <div class="inner-spacer">
          <div class="row">
            <div class="col-md-12 text-center">
              <canvas id="chartjs-line-portlet" height="120" width="310"></canvas>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-center">
              <h1 class="text-yellow margin-0px margin-negative-top-10px">2584</h1>
              <small class="text-yellow"><strong>Gadget Sales</strong> <i class="fa fa-chevron-circle-up"></i></small> </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-center">
              <h1 class="text-blue margin-0px margin-negative-top-10px">1823</h1>
              <small class="text-blue"><strong>Books Sales</strong> <i class="fa fa-chevron-circle-up"></i></small> </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-center">
              <h1 class="text-white margin-0px margin-negative-top-10px">2345</h1>
              <small class="text-white"><strong>Toys Sales</strong> <i class="fa fa-chevron-circle-up"></i></small> </div>
            <div class="col-md-12 text-center">
              <canvas class="margin-top" id="chartjs-line-portlet2" height="120" width="310"></canvas>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 text-center">
              <h2 class="margin-0px margin-negative-top-10px">158</h2>
              <small><strong>Hold</strong> <i class="fa fa-chevron-circle-up"></i></small> </div>
            <div class="col-md-3 col-sm-3 col-xs-3 text-center">
              <h2 class="text-orange margin-0px margin-negative-top-10px">333</h2>
              <small class="text-orange"><strong>Sales</strong> <i class="fa fa-chevron-circle-up"></i></small> </div>
            <div class="col-md-3 col-sm-3 col-xs-3 text-center">
              <h2 class="text-red margin-0px margin-negative-top-10px">321</h2>
              <small class="text-red"><strong>Orders</strong> <i class="fa fa-chevron-circle-up"></i></small> </div>
            <div class="col-md-3 col-sm-3 col-xs-3 text-center">
              <h2 class="text-yellow margin-0px margin-negative-top-10px">166</h2>
              <small class="text-yellow"><strong>Cancelled</strong> <i class="fa fa-chevron-circle-up"></i></small> </div>
          </div>
        </div>
      </div>
      <!-- /New widget --> 
      
      <!-- New widget -->
      <div class="powerwidget powerwidget-as-portlet powerwidget-as-portlet-cold-grey" id="widget12" data-widget-editbutton="false">
        <header>
          <h2>Muchachita<small>Camila Magrane</small></h2>
        </header>
        <div class="inner-spacer nopadding">
          <div class="vidz">
            <iframe src="http://player.vimeo.com/video/85261544?title=0&amp;byline=0&amp;portrait=0&amp;color=5bc0de&amp;autoplay=0&amp;loop=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <!-- /New widget --> 
      
    
    </div>
    <!-- /Inner Row Col-md-6 --> 
  </div>
  <!-- /Widgets Row End Grid--> 
</div>
<!-- / Content Wrapper --> 
